<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Links</title>
</head>
<body>
    <h1>Links to Files</h1>
    <ul>
        <li><a href="{{ file1_link }}" target="_blank">File 1</a></li>
        <li><a href="{{ file2_link }}" target="_blank">File 2</a></li>
        <li><a href="{{ file3_link }}" target="_blank">File 3</a></li>
        <li><a href="{{ file4_link }}" target="_blank">File 4</a></li>
        <li><a href="{{ file5_link }}" target="_blank">File 5</a></li>
        <li><a href="{{ file6_link }}" target="_blank">File 6</a></li>
    </ul>
</body>
</html>
