<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>File Links</title>
</head>
<body>
    <h1>Links to Files</h1>
    <ul>
        <li><a href="{{ file1_link }}" target="_blank">Word Search Puzzle Solution - MS Word version</a></li>
        <li><a href="{{ file2_link }}" target="_blank">Word Search Puzzle - MS Word version</a></li>
        <li><a href="{{ file3_link }}" target="_blank">Word Search Puzzle Solution - SVG version</a></li>
        <li><a href="{{ file4_link }}" target="_blank">Word Search Puzzle - SVG version</a></li>
        <li><a href="{{ file5_link }}" target="_blank">Word Search Puzzle Solution - Text version</a></li>
        <li><a href="{{ file6_link }}" target="_blank">Word Search Puzzle - Text version</a></li>
    </ul>
</body>
</html>
